<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<section name="niisEoknoSettings" type="Niis.Eokno.Configuration.NiisEoknoConfiguration, Niis.Eokno.Configuration" />
	</configSections>

	<niisEoknoSettings connectionString="Server=192.168.43.2;Database=dbNiis;User id=sa;Password=asdf-1234;" webAddress="http://localhost:5006/Services/Eokno/SendMessageRequest.svc" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>

</configuration>